@charset "utf-8";

* {
    margin: 0px;
    padding: 0px;
}

:root {
    --cor0: #01415B;
    --cor1: #005148;
    --cor2: #019587;
    --cor3: #A6BC09;
    --cor4: #CCEA8D;
}

header {
    height: 60vh;
    background-color: var(--cor1);
    background-position: right bottom;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url('../imagens/fundo/ifpi-fundo8.png');
    padding: 20px;
}

header h1 {
    text-align: center;
    font-weight: bold;
    font-variant: small-caps;
    color: white;
    text-shadow: 1px 1px black;
}

hr {
    border-color: white;
    border-style::outset
}

main {
    background-color: var(--cor2);
}



footer {
    color: white;
    background-color: black;
}